.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: white;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
